main#informations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 10px;

  text-align: center;
  line-height: 1.1;

  p {
    margin: 1rem auto;
  }

  #credits,
  #app-version {
    margin: 0.5rem auto;
    font-size: 0.9rem;
  }

  #credits {
    margin-top: auto;
  }
}
