main#administration {
  box-sizing: border-box;

  h1 {
    font-size: 2rem;
    padding: 2rem;
    margin: auto;
    width: max-content;
  }

  a {
    display: block;
    width: max-content;
    margin: 1rem 0;
  }

  p.notEnoughData {
    margin: 1rem;
    &::before {
      content: "❌  ";
    }
  }

  p.success {
    margin: 1rem;
    &::before {
      content: "✔️";
    }
  }

  button,
  input[type="file"],
  input[type="submit"] {
    cursor: pointer;
    width: max-content;
    font-size: 1rem;
    margin-right: 1rem;
  }

  details {
    margin: 0 2rem;

    summary {
      font-size: 1.2rem;
      @include not-selectable;
    }

    + details {
      margin-top: 2rem;
    }
  }

  .file-importer {
    form {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    ul {
      &.warnings > li::before {
        content: "⚠️  ";
      }

      &.errors > li::before {
        content: "❌  ";
      }

      li {
        font-style: italic;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
        line-height: 1rem;
        margin: 0.5rem 0;
        color: black;
        padding-left: 1.5rem;
        position: relative;
        word-wrap: break-word;

        &::before {
          position: absolute;
          left: 0;
        }
      }
    }
  }

  form.configuration {
    display: flex;
    flex-direction: column;

    input[type="number"] {
      width: 50px;
      margin: 0.5rem 1rem;
    }
  }

  .number-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 1rem;
    user-select: none;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
      touch-action: manipulation;
    }

    span {
      font-size: 1.5rem;
      cursor: default;
      margin: 0 0.3rem;
    }

    label {
      font-size: 1.2rem;
      margin-left: 1rem;
    }
  }
}
