main#create-duel {
  h1 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
  }

  input {
    padding: 0.7rem 0.6rem;
    border: 1px solid $button-bg;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
  }

  section {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;

    &:nth-child(2) {
      overflow: auto;
      padding-top: 0.5rem;
      padding-bottom: 4rem;
    }

    &:nth-child(3) {
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: white;
      text-align: center;
      padding: 0.9rem 1rem;
      border-top: 1px solid $button-bg;
      z-index: 100;

      p {
        padding: 0.9rem 1.6rem;
      }
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 7px;

    &.selected {
      background-color: $button-bg;
      p {
        color: white;
      }
    }

    p {
      font-size: 1.1rem;
      margin-left: 0.8rem;
    }
  }
}
