main#duel-overview {
  padding-top: 20px;

  header {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;

    > span {
      font-size: 1.8rem;

      @media screen and (max-width: $little-smartphone) {
        font-size: 1.4rem;
      }
    }

    .badge {
      display: flex;
      flex-direction: column;
      align-items: center;

      > span {
        margin-top: 0.1em;
      }
    }
  }

  > .btn {
    width: auto;
    margin: 0rem 1.2rem 3rem;
    text-align: center;
  }

  section {
    $title-height: 35px;
    $bg-color: $gray;

    margin: $title-height 1.2rem 1rem 1.2rem;
    padding: 0.8em 0;
    background-color: $bg-color;
    border-radius: $button-border-radius;
    position: relative;

    display: flex;
    justify-content: space-evenly;

    h3 {
      position: absolute;
      top: -$title-height + 10px;
      left: 0;
      font-weight: bold;
      background-color: $bg-color;
      padding: 8px 12px;
      border-top-left-radius: $button-border-radius;
      border-top-right-radius: $button-border-radius;
      max-width: calc(100% - 2 * 12px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      span {
        font-weight: lighter;
      }
    }

    .result {
      margin: auto 0;
      width: 45%;

      > span {
        display: block;
        margin-bottom: 0.3rem;
        text-align: center;
        font-size: 0.9rem;
      }

      .bricks {
        display: flex;
        justify-content: space-between;

        .brick {
          display: inline-block;
          flex-grow: 1;
          margin: 0 2px;
          background-color: $color-gray-wait;
          height: 0.8rem;

          &.true {
            background-color: $color-green-success;
          }

          &.false {
            background-color: $color-red-error;
          }
        }
      }
    }
  }
}
