main#login {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2,
  input {
    margin: 10px auto;
  }

  h1 {
    margin: 2rem auto 1rem;
    font-size: 1.5em;
  }

  h2 {
    font-style: italic;
  }

  input {
    display: block;
    margin: 10px;
    width: 200px;
  }

  details {
    ul li,
    summary {
      margin: 0.5rem;
    }
  }
}
