main#menu {
  background-image: url("../../images/bg_menu.png");
  background-size: cover;
  background-position: center 0px;
  height: calc(100% - 50px);
  overflow: auto;

  #list {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  a {
    display: block;
    width: 60%;
    text-align: center;
    margin: 1rem auto;
    padding: 20px;
    background-color: $button-bg;
    color: $button-fg;
    text-decoration: none;
    font-weight: bold;
    border-radius: $button-border-radius;
  }
}

/* ---------- Install app button ---------- */

button#installButton {
  box-sizing: content-box;
  width: 60%;
  background-color: #66bb6a;
  border: none;
  margin: 1rem auto;
  height: 16px;
  margin: 20px auto;
  padding: 20px;
  font-size: 1em;
  border-radius: 5px;
  box-shadow: 0 0 18px 3px #338a3e;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-transform: initial;
  font-weight: bolder;
}

button#installButton:hover {
  transform: scale(1.1);
}
