main#menu {
  background-image: url("../../images/bg_menu.png");
  background-size: cover;
  background-position: center 0px;
  height: calc(100% - #{$top-bar-height});
  overflow: auto;

  #list {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  a {
    display: block;
    width: 60%;
    text-align: center;
    margin: 1rem auto;
    padding: 20px;
    background-color: $button-bg;
    color: $button-fg;
    text-decoration: none;
    font-weight: bold;
    border-radius: $button-border-radius;
  }
}

/* ---------- Install app button ---------- */

button#installButton {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 70%;
  padding: 0;
  border: none;
  background-color: $mascot-blue-light;
  margin: 1rem auto;
  border-radius: 6px;
  overflow: hidden;
  color: white;
  font-size: 1rem;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.06);
  }

  span {
    padding: 1.1rem 1.3rem;

    &:first-of-type {
      background-color: $mascot-blue-dark;
    }
  }
}
