main#profile {
  button {
    margin: auto;
  }

  > .avatar {
    margin: 10px auto 0 auto;
  }
}

#avatar-previews {
  margin: 0 auto 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
