input {
  font-size: 1rem;
}

.error {
  color: red;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

p {
  color: $text-color;
}

summary {
  cursor: pointer;
}

svg {
  vertical-align: bottom;
}
