/* ---------- Screen sizes ---------- */

$desktop-size: 600px;
$little-smartphone: 360px;

/* ---------- Colors ---------- */

$mascot-blue-light: #34a6c2;
$mascot-blue-dark: #2d779b;

$bg: #ffffff;

/* ---------- Buttons ---------- */

$button-bg: #1e2034;
$button-fg: #ffffff;
$button-border-radius: 6px;

/* ---------- Top Bar ---------- */

$top-bar-bg: #bbbbbb;
$top-bar-fg: #000000;
$top-bar-height: 50px;

/* ---------- Success and errors ---------- */

$color-green-success: #488c54;
$color-red-error: #e23737;
