/* ---------- Screen sizes ---------- */

$screen-desktop: 600px;
$screen-smartphone-small: 360px;

/* ---------- Colors ---------- */

$mascot-blue-light: #34a6c2;
$mascot-blue-dark: #2d779b;

$color-bg: #ffffff;
$color-gray: #eaeaea;

$text-color: #4a4a4a;

/* ---------- Buttons ---------- */

$button-bg: #1e2034;
$button-bg-light: #4c4f6b;
$button-fg: #ffffff;
$button-border-radius: 6px;

/* ---------- Top Bar ---------- */

$top-bar-bg: #bbbbbb;
$top-bar-fg: #000000;
$top-bar-height: 50px;

/* ---------- Success and errors ---------- */

$color-gray-wait: #d0d0d0;
$color-green-success: #488c54;
$color-red-error: #e23737;
