/* ---------- Colors ---------- */

$mascot-blue-light: #34a6c2;
$mascot-blue-dark: #2d779b;

/* ---------- Buttons ---------- */
$button-bg: #48484a;
$button-fg: #ffffff;
$button-border-radius: 12px;
