.avatar {
  overflow: hidden;
  position: relative;

  .avatar-inside {
    width: 90%;
    height: 90%;
    top: calc(5% - 2px);
    left: calc(5% - 2px);
    position: relative;
    margin: 0;
    border: 2px solid black;
    border-radius: 50%;

    svg,
    img {
      --x: 0;
      width: 100%;
      position: absolute;
      margin-top: calc(-100% * var(--x));

      pointer-events: none;
      @include not-selectable;
    }

    img[data-choice="1"] {
      --x: 1;
    }

    img[data-choice="2"] {
      --x: 2;
    }

    img[data-choice="3"] {
      --x: 3;
    }

    img[data-choice="4"] {
      --x: 4;
    }

    .avatar-eyes {
      z-index: 2;
    }
    .avatar-hands {
      z-index: 4;
    }
    .avatar-hat {
      z-index: 3;
    }
    .avatar-mouth {
      z-index: 2;
    }
    .avatar-body-top {
      z-index: 1;
    }
    .avatar-body-bottom {
      z-index: 0;
    }
  }
}
