/* ---------- General buttons ---------- */

button {
  display: block;
  border: 1px solid #000000;
  background: $button-bg;
  color: $button-fg;
  border-radius: $button-border-radius;
  text-transform: uppercase;
  padding: 0.7rem 0.9rem;
  cursor: pointer;

  svg {
    vertical-align: top;
  }
}

button:focus {
  outline: none;
}

/* ---------- Update app button ---------- */

#update-app {
  position: fixed;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%) scale(1);
  background-color: $mascot-blue-light;
  color: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 1px $mascot-blue-dark;
  font-size: 0.8rem;
  padding: 0.8rem 1.3rem;
  text-transform: initial;
  z-index: 1000;

  transition: transform 0.2s ease-in-out;
  animation: appear-update 0.5s ease-in-out forwards;

  svg {
    margin-right: 0.4rem;
  }
}

#update-app:active {
  transform: translateX(-50%) scale(1.1);
}

@keyframes appear-update {
  0% {
    bottom: -5rem;
  }
  100% {
    bottom: 3rem;
  }
}

.update-animation {
  svg {
    animation: loading-update 1.2s linear infinite;
  }
}

@keyframes loading-update {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
