nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $top-bar-height;
  background-color: $top-bar-bg;
}

nav > * {
  display: inline-block;
  margin: 10px;
  color: $top-bar-fg;
}

nav a {
  text-decoration: none;
  &:visited {
    color: $top-bar-fg;
  }
}

nav h1 a {
  text-align: center;
  text-transform: uppercase;
  height: 16px;
  font-weight: bolder;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: gray;
}

nav #offlineBanner {
  position: absolute;
  right: 0px;
  margin: 10px;
}

nav #userBadge {
  position: absolute;
  left: 0px;
  margin: 10px;
}
