nav {
  display: grid;
  align-items: center;
  width: 100%;
  height: $top-bar-height;
  margin: 0;
  background-color: $top-bar-bg;

  grid-template-columns: 30% 40% 30%;

  & > * {
    display: inline-block;
    margin: auto;
    color: $top-bar-fg;
    @include not-selectable;

    &:first-child {
      margin-left: 5px;
    }

    &:last-child {
      margin-right: 5px;
    }
  }

  a {
    text-decoration: none;
  }

  h1 a {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 9px 15px;
    border-radius: 10px;
    background-color: gray;

    &:visited,
    &:link {
      color: $top-bar-fg;
    }
  }

  #offlineBanner div {
    margin-left: auto;
  }
}

#userBadge {
  display: flex;

  & > span {
    text-align: center;
    vertical-align: center;
    align-self: center;
    margin: 5px;
  }
}

body.dark nav {
  background: $color-bg-dark;
  border-bottom: 2px solid $color-gray-dark;

  h1 a {
    color: white;
    background-color: $color-gray-dark;
  }

  #userBadge {
    color: white;
  }
}
