div#menu {
  background-image: url("../../images/bg_menu.png");
  background-size: cover;
  background-position: center 0px;
  height: 100%;
  overflow: auto;
}

div#menu #list {
  margin-top: 125%;
}

div#menu a {
  display: block;
  width: 60%;
  text-align: center;
  margin: 1rem auto;
  padding: 20px;
  background-color: $button-bg;
  color: $button-fg;
  text-decoration: none;
  font-weight: bold;
  border-radius: $button-border-radius;
}
