// Local variables
$timer-size: 100px;

#quiz {
  padding: 1rem 0;

  &.quiz-intro {
    img {
      width: 100%;
    }

    div {
      margin-bottom: 2rem;
      text-align: center;

      h1 {
        font-size: 2rem;
      }

      #about {
        font-size: 1rem;
      }
    }

    button {
      margin: auto;
    }
  }

  /* ---------- Score ---------- */

  #quiz-score {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5rem;

    #good-score {
      text-align: left;
    }

    #bad-score {
      text-align: right;
    }
  }

  /* ---------- Question ---------- */

  #quiz-question {
    position: relative;
    padding: 3.6em 0.8em 3em 0.8em;
    margin-bottom: 1em;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

    h1 {
      font-size: 1.3em;
    }

    h2 {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.9em;
      padding: 0.4em 0.7em;
      background-color: $mascot-blue-light;
      color: white;
      border-bottom-right-radius: 10px;
    }
  }

  /* ---------- Timer ---------- */

  #timer {
    position: relative;
    width: $timer-size;
    height: $timer-size;
    margin: auto;

    div {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-size: $timer-size;
      background-position: bottom;
    }

    #timer-color {
      background-image: url("../../images/timer_colors.png");
      animation: load-effect linear;
    }

    #timer-stroke {
      background-image: url("../../images/timer_stroke.png");
    }
  }

  /* ---------- "Next question" button ---------- */

  #next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $timer-size;

    button {
      text-transform: none;
      font-size: 1em;

      svg {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }

  /* ---------- Answers ---------- */

  #quiz-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
    margin-top: 1rem;

    button {
      padding: 3em 0.8em;
      text-transform: capitalize;
      font-size: 1em;
    }

    .good-answer {
      color: green;
      border: 1px solid green;
    }

    .bad-answer {
      background-color: white;
      color: red;
      border: 1px solid red;
    }
  }
}

@keyframes load-effect {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
