// Local variables
$timer-size: 100px;

#quiz {
  padding: 1rem 0.8rem;

  &.quiz-intro {
    padding: 1rem 0;

    img {
      width: 100%;
    }

    div {
      margin-bottom: 2rem;
      text-align: center;

      h1 {
        font-size: 2rem;
        margin-bottom: 0.3rem;
      }

      #about {
        font-size: 1rem;
      }
    }

    button {
      margin: auto;
    }
  }

  /* ---------- Topbar ---------- */

  #quiz-topbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0.2rem;
    margin-bottom: 1.2rem;

    span {
      svg {
        vertical-align: top;
      }

      &#score-good {
        color: $color-green-success;
        margin-right: 0.6rem;
      }
      &#score-bad {
        color: $color-red-error;
      }
    }

    div:last-of-type {
      text-align: right;

      button {
        display: inline;
        border: none;
        background: transparent;
        padding: 0;
        color: black;
        box-shadow: none;

        svg {
          color: #5a5a5a;
        }
      }
    }
  }

  /* ---------- Question ---------- */

  #quiz-question {
    position: relative;
    padding: 3.6em 1em 3em 1em;
    margin-bottom: 2em;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

    h1 {
      font-size: 1.3em;
      line-height: 1.2;
    }

    h2 {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.9em;
      padding: 0.4em 0.7em;
      background-color: $mascot-blue-light;
      color: white;
      border-bottom-right-radius: 10px;
    }
  }

  /* ---------- Timer ---------- */

  #timer {
    position: relative;
    width: $timer-size;
    height: $timer-size;
    margin: auto;

    div {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-size: $timer-size;
      background-position: bottom;
    }

    #timer-color {
      background-image: url("../../images/timer_colors.png");
      animation: load-effect linear;
    }

    #timer-stroke {
      background-image: url("../../images/timer_stroke.png");
    }
  }

  /* ---------- "Next question" button ---------- */

  #next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $timer-size;

    button {
      text-transform: none;
      font-size: 1em;

      svg {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }

  /* ---------- Answers ---------- */

  #quiz-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
    margin-top: 2rem;

    button {
      padding: 3em 0.8em;
      text-transform: capitalize;
      font-size: 1rem;
      border: 3px solid $button-bg;
    }

    .good-answer {
      color: $color-green-success;
      border: 3px solid $color-green-success;
    }

    .bad-answer {
      color: $color-red-error;
      border: 3px solid $color-red-error;
    }
  }
}

@keyframes load-effect {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
